body {
    font-family: 'Cabin', sans-serif;
    background: url('../images/place-of-int-bg5.jpg');
    background-size: cover;
}

.r-img {
    background-size: cover;
    height: 180px;
    cursor: pointer;
    margin: 20px;
    border: 6px solid #009823;
    box-shadow: 0 0 50px 0px #272727;
}

.r-img:hover {
    transform: translateY(-10px);
    transition: all ease-in-out 0.3s;
}

.txt {
    background: #00000078;
    color: white;
    font-weight: 600;
    padding: 10px 12px;
    position: absolute;
    top: 0;
}

.place-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    background: white;
    padding: 15px;
    opacity: 0;
    animation: slideUp 1s ease both;
    -webkit-animation: slideUp 1s ease both;
}

.placeoi {
    position: relative;
    height: 25vh;
}

.placeoi img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.exlr-btn {
    position: absolute;
    bottom: 25px;
    left: 38%;
    opacity: 0;
    transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    backface-visibility: hidden;
}

.placeoi:hover img {
    cursor: pointer;
    opacity: 0.7;
}

.placeoi:hover .exlr-btn {
    opacity: 1;
}

.place-items-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    opacity: 0;
    animation: slideUp 1s ease both;
    -webkit-animation: slideUp 1s ease both;
}

.place-item {
    position: relative;
    background: white;
    padding: 5px;
    border-bottom: 20px solid #0087ff;
    box-shadow: 0 0 15px #a0a0a0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.pitem-image {
    height: 200px;
}

.pitem-desc p {
    font-size: 17px;
    text-align: justify;
    margin-bottom: 0;
}

.place-item img {
    width: 100%;
    height: 100%;
}

.item-titlep {
    position: absolute;
    right: 5%;
    bottom: 48%;
    color: white;
    letter-spacing: 2px;
    opacity: 0;
}

.place-item:hover {
    cursor: pointer;
    background: rgb(233, 246, 255);
}

.place-item:hover .item-titlep {
    opacity: 1;
    animation: slideUp .6s ease both;
    -webkit-animation: slideUp .6s ease both;
}

.place-items-grid a {
    text-decoration: none;
    color: black;
}

.place-desc-item {
    position: relative;
}

.place-desc-item img {
    height: 100%;
    width: 100%;
}

.place-desc-item:hover img {
    cursor: pointer;
    opacity: 0.8;
}

.place-near-item {
    position: relative;
}

.place-near-item img {
    height: 100%;
    width: 100%;
}

.place-near-item:hover img {
    cursor: pointer;
    opacity: 0.8;
}

.place-near-text {
    color: white;
    position: absolute;
    bottom: 9%;
    left: 8%;
    font-size: 1.2rem;
}

.place-desc-p {
    font-size: 17px;
    text-align: justify;
    letter-spacing: 1px;
    text-indent: 10rem;
    animation: slideUp 1s ease both;
    -webkit-animation: slideUp 1s ease both;
}

@keyframes slideUp {
    0% {
        transform: translate3d(0, 40px, 0);
        -webkit-transform: translate3d(0, 40px, 0);
        -moz-transform: translate3d(0, 40px, 0);
        -ms-transform: translate3d(0, 40px, 0);
        -o-transform: translate3d(0, 40px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
    }
}

.place-name {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem 0rem 0rem 1rem;
}

.place-near-item {
    border-radius: 10px;
    border: 1px solid lightgray;
    position: relative;
}

.place-near-item img {
    height: 70%;
    width: 100%;
}

.checked {
    color: orange;
}

.fa-star {
    font-size: 0.8rem;
}

.rating {
    margin-left: 1rem;
}

.place-desc-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
    opacity: 0;
    animation: slideUp 1s ease both;
    -webkit-animation: slideUp 1s ease both;
}

.place-near-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 28px;
    opacity: 0;
    animation: slideUp 1s ease both;
    -webkit-animation: slideUp 1s ease both;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

a {
    text-decoration: none!important;
}

/*near by food style */

.cardimage-div {
    display: flex;
}

.card-div {
    margin-bottom: 5%;
}

.restaurant-image {
    height: 25vh;
    width: 100%;
}

.restaurant-title {
    opacity: 0;
}

.restaurant-div {
    height: 25vh;
    margin-left: -4%;
}

.restaurant-div:hover .restaurant-title {
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding-top: 20%;
    padding-left: 10%;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.food-image {
    width: 100%;
    margin-top: 35%;
}